# Saitek Switch Panel
# Panel identifies itself with a mysterious Manufacturer
# For Raspberry Pi embedded system, uncomment the ACTION lines

SUBSYSTEMS=="usb", ATTRS{idVendor}=="06a3", ATTRS{idProduct}=="0d67", \
    ATTRS{manufacturer}=="Intretech", \
    ATTRS{product}=="Saitek Pro Flight Switch Panel", \
    MODE="666"
    
#ACTION=="remove", ENV{ID_MODEL}=="Saitek_Pro_Flight_Switch_Panel", \
#    RUN+="/sbin/halt"

# Saitek Radio Panel
# Maybe this will change Manufacturer in later versions?

SUBSYSTEMS=="usb", ATTRS{idVendor}=="06a3", ATTRS{idProduct}=="0d05", \
    ATTRS{manufacturer}=="Saitek", \
    ATTRS{product}=="Pro Flight Radio Panel", \
    MODE="666"

#ACTION=="remove", ENV{ID_MODEL}=="Pro_Flight_Radio_Panel", \
#    RUN+="/sbin/halt"

